<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Package Test Suite">
      <directory suffix="Test.php">
                ./tests/
            </directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_KEY" value="APP_KEY" />
    <env name="YOUDU_API" value="http://localhost:7080" />
    <env name="YOUDU_BUIN" value="12345678" />
    <env name="YOUDU_DEFAULT_APP_ID" value="YOUDU_APP_ID" />
    <env name="YOUDU_DEFAULT_AES_KEY" value="YOUDU_AES_KEY" />
  </php>
</phpunit>